<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhpFYWJ00aM7XrSMiS_k8Xpk38KcwtWU4</string>
	<key>GCM_SENDER_ID</key>
	<string>51607519007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjectTemplate</string>
	<key>PROJECT_ID</key>
	<string>spots-aa0e1</string>
	<key>STORAGE_BUCKET</key>
	<string>spots-aa0e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51607519007:ios:1668194eeab8bb9f3f3a2a</string>
</dict>
</plist>